<!DOCTYPE html>
<html dir="ltr" lang="en">

{{> admin/template/head }}

<body>
    {{> admin/template/header }}
        <div class="page-wrapper">
            
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card">
                            <form action="" method="get" class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Detalles de propiedad</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Pais</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="pais" class="form-control" id="fname" value="{{propiedad.pais}}" placeholder="Ingrese Pais">
                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Provincia</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="provincia" class="form-control" id="fname"value="{{propiedad.provincia}}" placeholder="Ingrese Provincia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Ciudad</label>
                                        <div class="col-sm-9">
                                            <input disabled name="ciudad" type="text" class="form-control" id="lname"value="{{propiedad.ciudad}}" placeholder="Ingrese Ciudad">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Direccion</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="direccion" class="form-control" id="lname" value="{{propiedad.direccion}}" placeholder="Ingrese Direccion">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Tipo</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="tipo" class="form-control" id="email1" value="{{propiedad.tipo}}" placeholder="Ingrese Tipo">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Imagen</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="imagen" class="form-control" id="cono1" value="{{propiedad.imagen}}" placeholder="Ingrese imagen">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Descripcion</label>
                                        <div class="col-sm-9">
                                            <input disabled name="descripcion" value="{{propiedad.descripcion}}" class="form-control"></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <input type="submit" formaction="/admin/edit-property/{{propiedad._id}}" value="Modificar Propiedad" class="btn btn-primary  py-2 px-4 rounded-0">
                                        {{#canNotErase}}
                                        <button type="button" class="btn btn-danger ml-5 py-2 px-4 rounded-0" data-toggle="modal" data-target="#canNotDeleteModal">
                                            Eliminar
                                        </button>
                                        {{/canNotErase}}
                                        {{^canNotErase}}
                                            <button type="button" class="btn btn-danger ml-5 py-2 px-4 rounded-0" data-toggle="modal" data-target="#deleteModal">
                                            Eliminar
                                            </button>
                                        {{/canNotErase}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 ">
                        <div class="card w-100">
                            <h4 class="card-title mt-3 ml-3">Estado de las Semanas</h4>
                            <div class="card-body d-flex justify-content-around">
                                <div class="row">
                                {{#propiedad.semanas}}
                                    <div class="col-2 my-3">
                                        <a href="#" class="btn btn-sq-md btn-primary w-100 {{tipo}}">
                                            Semana {{numeroSemana}}
                                            <br>
                                            {{tipo}}
                                        </a>
                                    </div>
                                {{/propiedad.semanas}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> admin/template/footer }}
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    {{> admin/template/scripts }}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Está Seguro que desea eliminar la propiedad?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Los datos de la propiedad no se podrán recuperar una vez borrados.
                </div>
                <div class="modal-footer">
                <form action="" method="get" class="form-horizontal">
                    <button  type="submit" class="btn btn-danger ml-5 py-2 px-4 rounded-0" method="delete" formaction="/delete-property/{{propiedad._id}}">Eliminar Propiedad</button>
                    <button type="button" class="btn btn-secondary px-4 ml-5 py-2 rounded-0" data-dismiss="modal">Cancelar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="canNotDeleteModal" tabindex="-1" role="dialog" aria-labelledby="canNotDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">La propiedad no se puede eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta propiedad no se puede eliminar ya que posee reservas o subastas activas
            </div>
            <div class="modal-footer">
            <form action="" method="get" class="form-horizontal">
                <button type="button" class="btn btn-secondary px-4 ml-5 py-2 rounded-0" data-dismiss="modal">Volver</button>
            </form>
            </div>
            </div>
        </div>
    </div>
</body>

</html>