<!DOCTYPE html>
<html dir="ltr" lang="en">

{{> admin/template/head }}

<body>
    {{> admin/template/header }}
        <div class="page-wrapper">
            
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card">
                            <form action="" method="get" class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">Detalles de propiedad</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Pais</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="pais" class="form-control" id="fname" value="{{propiedad.pais}}" placeholder="Ingrese Pais">
                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Provincia</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="provincia" class="form-control" id="fname"value="{{propiedad.provincia}}" placeholder="Ingrese Provincia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Ciudad</label>
                                        <div class="col-sm-9">
                                            <input disabled name="ciudad" type="text" class="form-control" id="lname"value="{{propiedad.ciudad}}" placeholder="Ingrese Ciudad">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Direccion</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="direccion" class="form-control" id="lname" value="{{propiedad.direccion}}" placeholder="Ingrese Direccion">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Tipo</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="tipo" class="form-control" id="email1" value="{{propiedad.tipo}}" placeholder="Ingrese Tipo">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Imagen</label>
                                        <div class="col-sm-9">
                                            <input disabled type="text" name="imagen" class="form-control" id="cono1" value="{{propiedad.imagen}}" placeholder="Ingrese imagen">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Descripcion</label>
                                        <div class="col-sm-9">
                                            <input disabled name="descripcion" value="{{propiedad.descripcion}}" class="form-control"></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <input type="submit" formaction="/admin/edit-property/{{propiedad._id}}" value="Modificar Propiedad" class="btn btn-primary  py-2 px-4 rounded-0">
                                        <button type="submit" class="btn btn-danger ml-5 py-2 px-4 rounded-0" method="delete" formaction="/delete-property/{{propiedad._id}}">Eliminar Propiedad</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            {{> admin/template/footer }}
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    {{> admin/template/scripts }}
</body>

</html>