<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <title>Home Switch Home - Panel de Administracion</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/quill/dist/quill.snow.css">
    <link href="/css/style.min.css" rel="stylesheet">
</head>