<!DOCTYPE html>
<html lang="en">
  {{> template/head }}
  <body>

  {{> template/navbar}}

  <div class="site-blocks-cover-reduced site-blocks-cover  inner-page-cover overlay reduced-overlay" style="background-image: url(images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10">
          <h1 class="mb-2">Perfil</h1>
        </div>
      </div>
    </div>
  </div>

    <div class="site-section">
      {{#usuario}}
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <form action="/propiedades/{{propiedad._id}}" method="post" class="form-horizontal">
                            <div class="card-body">
                                <h4 class="card-title">Informacion del usuario</h4>
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">Nombre</label>
                                    <div class="col-sm-9">
                                        <input disabled required type="text" name="nombreCompleto" class="form-control" id="fname" value="{{nombreCompleto}}" placeholder="Ingrese Nombre">
                                    </div>
                                </div>
                                    <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input disabled required type="text" name="email" class="form-control" id="fname" value="{{email}}" placeholder="Ingrese Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">DNI</label>
                                    <div class="col-sm-9">
                                        <input disabled required name="dni" type="text" class="form-control" id="lname" value="{{dni}}" placeholder="Ingrese DNI">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Numero De Tarjeta</label>
                                    <div class="col-sm-9">
                                        <input disabled required type="text" name="numeroTarjeta" class="form-control" id="lname" value="{{numeroTarjeta}}" placeholder="Ingrese Numero De Tarjeta">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email1" class="col-sm-3 text-right control-label col-form-label">Fecha Caducidad De Tarjeta</label>
                                    <div class="col-sm-9">
                                        <input disabled required type="text" name="fechaCadTarjeta" class="form-control" id="email1" value="{{fechaCadTarjeta}}" placeholder="Ingrese Fecha Caducidad">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Codigo Seguridad De Tarjeta</label>
                                    <div class="col-sm-9">
                                        <input disabled required type="text" name="codigoSeguridadTarjeta" class="form-control" id="cono1" value="{{codigoSeguridadTarjeta}}" placeholder="Ingrese codigo de Seguridad">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Creditos</label>
                                    <div class="col-sm-9">
                                        <input disabled required type="text" name="codigoSeguridadTarjeta" class="form-control" id="cono1" value="{{creditos}}" placeholder="Creditos">
                                    </div>
                                </div>
                                {{#tipo}}
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Estado</label>
                                        <div class="col-sm-9">
                                            <input disabled required type="text" name="codigoSeguridadTarjeta" class="form-control" id="cono1" value="Premium" placeholder="Creditos">
                                        </div>
                                    </div>
                                {{/tipo}}
                                {{^tipo}}
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Estado</label>
                                        <div class="col-sm-9">
                                            <input disabled required type="text" name="codigoSeguridadTarjeta" class="form-control" id="cono1" value="Standard" placeholder="Creditos">
                                        </div>
                                    </div>
                                {{/tipo}}
                                {{#pedido}}
                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-12 text-right control-label col-form-label">Solicitud de Cambio de Estado enviada. En espera de aceptación.</label>
                                    </div>
                                {{/pedido}}
                            </div>
                            <div class="border-top">
                                <div class="card-body d-flex justify-content-between">
                                    <a class="btn btn-primary" href="/edit-profile" role="button">Editar Perfil</a>
                                    {{#pedido}}
                                        <button class="btn btn-primary text-white"  data-toggle="modal" data-target="#changeStateModal" role="button" disabled="true">Cambiar Estado</button>
                                    {{/pedido}}
                                    {{^pedido}}
                                        <a class="btn btn-primary text-white"  data-toggle="modal" data-target="#changeStateModal" role="button" >Cambiar Estado</a>
                                    {{/pedido}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {{/usuario}}
    </div>

    {{> template/footer}}

    </div> 

    {{> template/scripts}} 
    <!-- Modal -->
    <div class="modal fade" id="changeStateModal" tabindex="-1" role="dialog" aria-labelledby="changeStateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambio de estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#usuario.tipo}}
                    ¿Esta seguro que desea dejar de ser Premium?
                {{/usuario.tipo}}
                {{^usuario.tipo}}
                    ¿Esta seguro que desea ser Premium?
                {{/usuario.tipo}}
            </div>
            <div class="modal-footer">
            <form action="" method="get" class="form-horizontal">
                <button  type="submit" class="btn btn-success ml-5 py-2 px-4 rounded-0" method="delete" formaction="/change-state/{{usuario._id}}">
                {{#usuario.tipo}}Cambiar a estandar{{/usuario.tipo}}
                {{^usuario.tipo}}Cambiar a premium{{/usuario.tipo}}
                </button>
                <button type="button" class="btn btn-secondary px-4 ml-5 py-2 rounded-0" data-dismiss="modal">Cancelar</button>
            </form>
            </div>
            </div>
        </div>
    </div>  

  </body>
</html>