<div class="site-section site-section-sm pb-0">
        <div class="container">
            <div class="row">
            {{#filter}}
                <form method="POST" action="/{{type}}-filter"  class="form-search col-md-12" style="margin-top: -100px;">
            {{/filter}}
            {{^filter}}
                <form method="POST" action="/property-filter"  class="form-search col-md-12" style="margin-top: -100px;">
            {{/filter}}
                    <div class="row  align-items-end">
                        <div class="col-md-3">
                            <label for="list-types">Ubicacion</label>
                            <div class="select-wrap">
                               <input type="text" name="direccion" placeholder="Ingrese Ubicacion">
                            </div>

                        </div>
                        <div class="col-md-3">
                            <label for="offer-types">Desde Que Semana</label>
                            <div class="select-wrap">
                               <input type="text" name="desde" placeholder="Ingrese desde">                                
                            </div>

                        </div>
                        <div class="col-md-3">
                            <label for="select-city">Hasta Que Semana</label>
                            <div class="select-wrap">
                                <input type="text" name="hasta" placeholder="Maximo 8 semanas">                                                                
                            </div>

                        </div>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Buscar">
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
                        <div class="mr-auto">
                            <a href="index.html" class="icon-view view-module"><span class="icon-view_module"></span></a>
                            <a href="view-list.html" class="icon-view view-list active"><span class="icon-view_list"></span></a>

                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>