<footer class="site-footer">
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
        <div class="mb-5">
            <h3 class="footer-heading mb-4">Sobre Home Switch Home</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
        </div>

        
        
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="row mb-5">
            <div class="col-md-12">
            <h3 class="footer-heading mb-4">Links de interes</h3>
            </div>
            <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Alquiler</a></li>
                <li><a href="#">Hotsales</a></li>
            </ul>
            </div>
            <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
                <li><a href="#">Polica de privacidad</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
            </div>
        </div>


        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
        <h3 class="footer-heading mb-4">Seguinos</h3>

            <div>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>

        

        </div>
        
    </div>
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
        <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Pagina hecha por <a href="https://duketa.com" target="_blank" >Duketa Software Factory</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        </div>
        
    </div>
    </div>
</footer>