    <div class="site-navbar mt-4">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-8 col-md-8 col-lg-4">
              <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0"><strong>Home Switch Home<span class="text-danger">.</span></strong></a></h1>
            </div>
            <div class="col-4 col-md-4 col-lg-8">
              <nav class="site-navigation text-right text-md-right" role="navigation">
                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li class="active">
                    <a href="home">Inicio</a>
                  </li>
                  <li class="has-children">
                    <a href="properties.html">Propiedades</a>
                    <ul class="dropdown">
                      <li><a href="#">Hotsales</a></li>
                      <li><a href="#">Subasta</a></li>
                      <li><a href="#">Directa</a></li>                      
                    </ul>
                  </li>
                  {{#usuario}}
                    <li><a href="perfil">{{usuario}}</a></li>
                    <li><a href="logout"> Cerrar Sesion</a></li>
                  {{/usuario}}
                  {{^usuario}}
                    <li><a href="login"> Iniciar Sesion </a></li>
                    <li><a href="register"> Registrarse </a></li>
                  {{/usuario}}
                  <li><a href="contact">Contacto</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>